.navActions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 20px;
}

.state {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--text);
  font-size: 12px;
}
.actions button {
  cursor: pointer;
  padding: 16px 24px;
  border-radius: 30px;
  border: none;
  font-size: 12px;
  margin-right: 8px;
  color: #fff;
}
.edit {
  background-color: var(--dark-purple);
}
.delete {
  background-color: var(--danger);
}
.paid {
  background-color: var(--paid-logo);
}
.pending {
  background-color: var(--pending-logo);
}
.printBtn {
  background-color: #2f79bd;
}
