.icon {
  color: var(--main-color);
  font-size: 13px;
  cursor: pointer;
  background-color: transparent;
}
.icon span {
  display: inline-block;
  margin-left: 10px;
  color: #fff;
}

.navActions,
.details,
.bot > div:first-of-type,
.amount {
  background-color: var(--secondary-color);
  padding: 20px 30px;
  border-radius: 25px;
}

/*details*/
.details {
  color: #fff;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.code span {
  color: var(--text);
}
.right p {
  font-size: 12px;
}

/*mid*/
.mid {
  display: flex;
  gap: 90px;

  margin-top: 40px;
}
.mid h4 {
  font-size: 12px;
  margin-bottom: 10px;
}
.date h4:last-of-type {
  margin-top: 30px;
}

.title {
  color: var(--text);
}

/* company */
.company {
  text-align: center;
}
.avatar {
  width: 150px;
  border-radius: 30px;
  overflow: hidden;
}
.avatar img {
  width: 100%;
}
/* bot */
.bot {
  margin-top: 50px;
}
.bot > div:first-of-type {
  background-color: var(--dark-purple);
  border-radius: 25px 25px 0 0;
}
.bot > div div {
  margin-bottom: 30px;
}
.bot > div div:first-of-type ul {
  color: var(--text);
}
.bot ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}
.bot ul li {
  width: 120px;
  text-align: center;
}
.amount {
  background-color: var(--background-color);
  border-radius: 0 0 25px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.not_found {
  color: #fff;
  font-size: 30px;
  text-align: center;
}
