.wrapper {
  text-align: left;
  position: relative;
}
.wrapper input {
  background-color: var(--secondary-color);
  width: 100%;
  color: #fff;
  border-radius: 4px;
  padding: 12px 4px;
  border: none;
  margin-bottom: 10px;
  border: 1px solid #ddd;
}
.wrapper label {
  font-size: 12px;
  margin-bottom: 6px;
  display: inline-block;
  color: #fff;
}
.wrapper input:focus {
  border-color: var(--main-color);
}
.wrapper:has(input:required)::before {
  content: "*";
  color: red;
  position: absolute;
  left: -10px;
}
