.model {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  width: 50%;
  padding: 30px;
  text-align: center;
  z-index: 100;
  overflow: hidden;
  background-color: #fff;
}
.model h1 {
  margin-bottom: 30px;
}
.close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: rgba(255, 0, 0, 0.644);
  font-size: 25px;
}
.close:hover {
  color: red;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}
.error {
  color: red;
}
