.pagination {
  display: flex;
  background-color: transparent;
}
.pagination button {
  color: var(--main-color);
  font-weight: bold;
}
.pagination ul {
  display: flex;
  align-items: center;
  /* gap: 10px; */
}
.pagination ul li {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #777;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--main-color);
  cursor: pointer;
}
.pagination ul li.active {
  background-color: var(--main-color);
  color: #fff;
}
/* .deactivate {
  opacity: 0.2;
  cursor: not-allowed;
} */
