.aside {
  margin-bottom: 20px;
}
.aside ul {
  display: flex;
  gap: 30px;
}

.aside li {
  display: inline-block;
  padding: 15px;
  width: 100%;
  margin-bottom: 5px;
  border-radius: 7px;
  cursor: pointer;
  user-select: none;
}

.aside li:hover {
  background-color: #303151;
}
