.company-info {
  width: 100%;
  max-height: 650px;
  overflow-y: auto;
}
.card-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  border: 2px solid var(--form-color);
  background-color: rgb(255 255 255 / 6%);
  border-radius: 20px;
  position: relative;
  margin-bottom: 30px;
  padding: 10px 0;
}
.company-info::-webkit-scrollbar {
  width: 7px; /* width of the entire scrollbar */
}

.company-info::-webkit-scrollbar-track {
  background: #fff; /* color of the tracking area */
}

.company-info::-webkit-scrollbar-thumb {
  background-color: var(--main-color); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  /* creates padding around scroll thumb */
}

.avatar {
  width: 110px;
  height: 100px;
  /* margin: 0 auto; */
  border: 2px solid var(--main-color);
  border-radius: 50%;
  overflow: hidden;
  background-color: #fff;
}
.avatar img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.card {
  padding: 10px;
  text-align: center;
  font-size: 24px;
}
.card_btn {
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  color: var(--main-color);
}
.info > div {
  margin-bottom: 30px;
}
.back {
  background-color: transparent;
  border: none;
  color: var(--main-color);
  cursor: pointer;
  font-size: 25px;
}

.addBtn {
  display: flex;
  align-items: center;
  background-color: var(--main-color);
  color: #fff;
  padding: 10px;
  margin-top: 30px;
  border-radius: 30px;
  width: 100%;
  font-size: 18px;
}
.addBtn svg {
  color: #1e1e2d;
}
