:root {
  --marign-Y: 20px;
}

.user-profile h1 {
  margin-bottom: var(--marign-Y);
}

.profile-content h3 {
  color: #958993;
  margin-bottom: var(--marign-Y);
}
.profile-pic {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-bottom: var(--marign-Y);
}
.profile-pic div:first-of-type {
  width: 150px;
}
.profile-pic img {
  width: 100%;
  border: 5px solid #000;
  border-radius: 50%;
}
.profile-pic button {
  padding: 10px;
  background-color: var(--main-color);
  border: none;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.info div {
  margin-bottom: var(--marign-Y);
}
.info div span {
  color: var(--text-gray);
}
/*************/
