@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&display=swap");
:root {
  --main-color: #7c5dfa;
  --background-color: #1e1e2d;
  --text-gray: #cdcdde;
  --text-muted: #565674;
  --secondary-color: #1e2139;
  --form-color: #141625;
  --dark-purple: #252945;
  --text: #8d8dbf;
  --pending-color: #3f3a2b;
  --pending-logo: #e7bb22;
  --paid-color: rgb(255 144 0 / 16%);
  --paid-logo: #33d69f40;
  --danger: #ec5757;
  --category-color: #474761;
  --success: #1872245c;
  --error: #c8000059;
}

[data-theme="light"] {
  --main-color: #000;
  --background-color: #fff;
  --text-gray: blue;
  --text: orange;
  --secondary-color: rgb(255, 255, 255);
}

* {
  padding: 0;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

ul {
  list-style: none;
}
body {
  background-color: var(--background-color);
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  color: #fff;
}
button {
  cursor: pointer;
  border: none;
}
input:disabled,
select:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.status {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--paid-color);
  color: var(--pending-logo);
  width: 120px;
  height: 30px;
  border-radius: 10px;
  position: relative;
  font-size: 0.95rem;
}
.status.paid {
  background-color: var(--paid-logo);
  color: #fff;
}
.status::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  background-color: var(--pending-logo);
  left: 15%;
  top: 50%;
  transform: translate(-20%, -50%);
}
.status.paid::before {
  background-color: #33d69f;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
h1.warning {
  color: #fff;
  text-align: center;
}
.active {
  background-color: #303151;
}
input.error-input {
  border: 1px solid red !important;
}
.error-msg {
  color: red;
  font-size: 12px;
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
}

.response-text {
  font-size: 13px;
  color: red;
  width: fit-content;
  margin-top: 10px;
}
.not-found {
  color: #fff;
  font-size: 36px;
  text-align: center;
}
select {
  max-height: calc(1.2em + 24px);
  height: calc(1.2em + 24px);
}
/*pagination*/
.ant-pagination .ant-pagination-item a,
.ant-pagination-item-link {
  color: var(--main-color) !important;
  font-weight: bold;
}
.ant-pagination-options {
  display: none !important;
}
